.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 232px 542px;
  grid-template-rows:max-content 50px 1fr;
  gap: 20px;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 10px;
  header {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter {
    grid-row: span 2;
  }
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    header {
      grid-column: unset;
    }
    .filter {
      grid-row: unset;
    }
  }
}
